@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <a class="configure-link" href="/configure">Configure timer</a>
    <div class="timer-buttons">
        <button disabled id="pause" onclick="pauseClicked()">Pause</button>
        <button disabled id="restart" onclick="restartClicked()">Restart</button>
        <button disabled id="resume" onclick="resumeClicked()">Resume</button>
    </div>
</div>
<div class="timer" id="timer"">
    05:00
</div>

<script src="/js/signalr/signalr.js"></script>
<script src="~/js/timer.js"></script>